/node_modules
/public/storage
/storage/*.key
.env
.env.*
/vendor
.phpunit.result.cache
Homestead.yaml
Homestead.json
.idea
*.sublime-workspace
*.sublime-project
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
