#searchResults {
    max-height: 300px; /* Limit height */
    overflow-y: auto; /* Scroll if needed */
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 0 0 10px 10px; /* Slightly rounded bottom corners */
    position: absolute;
    top: calc(100% - 5px); /* Slight overlap with input field */
    left: 0;
    right: 0;
    z-index: 1000;
    border: 1px solid #ddd;
}

/*#searchResults ul {*/
/*    list-style: none;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/*#searchResults li {*/
/*    padding: 10px;*/
/*    border-bottom: 1px solid #ddd;*/
/*}*/

/*#searchResults li:last-child {*/
/*    border-bottom: none; !* Remove border from last item *!*/
/*}*/

/*#searchResults li a {*/
/*    text-decoration: none;*/
/*    color: #333;*/
/*}*/

/*#searchResults li a:hover {*/
/*    background-color: #f8f9fa;*/
/*}*/

/*!* Style the search input field *!*/
/*#searchQuery {*/
/*    border-radius: 5px; !* Fully rounded corners *!*/
/*    padding-left: 20px; !* Add padding inside the input *!*/
/*    border: 1px solid #ddd;*/
/*    z-index: 999; !* Ensure input is above search results *!*/
/*    position: relative;*/
/*    height: 30px !important;*/

/*}*/

/*!* Additional style to remove any gap between the input and results *!*/
/*.nav-item form {*/
/*    height: 100%;*/
/*    margin-bottom: 0; !* Remove extra margin from the form *!*/
/*    position: relative;*/
/*    width: 100%; !* Ensure form fills available space *!*/
/*    z-index: 999;*/
/*}*/

