#searchResults {
    max-height: 300px; /* Limit height */
    overflow-y: auto; /* Scroll if needed */
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 0 0 10px 10px; /* Slightly rounded bottom corners */
    position: absolute;
    top: calc(100% - 5px); /* Slight overlap with input field */
    left: 0;
    right: 0;
    border: 1px solid #ddd;
    z-index: 1001 !important;
}

.language-switcher {
    display: flex; /* Flexbox for inline alignment */
    gap: 10px; /* Spacing between flags */
    align-items: center; /* Vertically center the flags */
}

/* Align form elements properly */
#searchForm input {
    height: calc(1.5em + 0.75rem + 2px); /* Match the height of other nav links */
}

.nav-item form {
    margin-top: 5px; /* Moves the search form down slightly */
}

.product-card {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ensure that any overflow is hidden */
    position: relative; /* Position relative for positioning effects */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.image-container {
    height: 200px; /* Default height */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Position relative for positioning effects */
}

.image-container:hover .image-navigation {
    opacity: 1; /* Show navigation on hover */
}

.card-img {
    min-height: 100%;
    object-fit: cover;
    width: 100%;
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
    display: none; /* Hide all images by default */
}

.card-img.active {
    display: block; /* Show only the active image */
}

.product-card:hover .card-img {
    transform: scale(1.1); /* Zoom out effect */
}

.card-body {
    text-align: center;
}

.image-navigation {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-button {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s ease;
}

.nav-button:hover {
    background: rgba(0, 0, 0, 0.8);
}



/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
    .image-container {
        height: 250px; /* Height for large devices */
    }
}

/* Medium devices (tablets, 768px to 1199px) */
@media (min-width: 768px) and (max-width: 1199px) {
    .image-container {
        height: 215px; /* Height for medium devices */
    }
}

/* Small devices (phones, up to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
    .image-container {
        height: 250px; /* Height for small devices */
    }
}

@media (max-width: 575px) {
    .image-container {
        height: 480px; /* Height for extra small devices */
    }
}

/* Remove underline from all links within product cards */
.product-card a {
    text-decoration: none !important; /* Force remove underline */
    color: inherit; /* Ensure text color is consistent with parent element */
}

.product-card a:hover,
.product-card a:focus {
    text-decoration: none !important; /* Remove underline on hover and focus */
}

.title-container {
    height: 50px;
}

.price-range-container {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 0.25rem; /* Adjust border radius as needed */
    overflow: hidden; /* Ensures that the inputs and divider stay within the border */
}

.price-range-container .form-control {
    border: none;
    border-radius: 0;
    border-right: 1px solid #ced4da; /* Divider line on the right of the first input */
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    box-shadow: none;
}

.price-range-container .form-control:last-child {
    border-right: 0; /* Removes the border on the right of the second input */
    border-left: 0;
}

.price-range-container .divider {
    width: 1px; /* Width of the divider line */
    background-color: #ced4da; /* Color of the divider line */
    height: 100%; /* Full height of the inputs */
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: transparent !important;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.custom-label {
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid #212529; /* Border for label */
}

.hover-reverse {
    background-color: transparent;
    color: #212529; /* Primary color for text */
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid #212529; /* Primary border */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hover-reverse:hover {
    background-color: #212529; /* Background color on hover */
    color: #fff; /* Text color on hover */
}

.circle-counter {
    background-color: #f0f0f0; /* Light gray background for the circle */
    color: #000; /* Text color */
    border-radius: 50%; /* Makes it circular */
    width: 50px; /* Fixed width */
    height: 50px; /* Fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem; /* Adjust font size to fit */
    line-height: 1.2; /* Adjust line height for vertical centering */
}

.circle-counter-container {
    display: flex;
    justify-content: flex-end; /* Aligns the circle to the right */
    align-items: center;
}
.circle-counter i {
    margin-right: 5px; /* Adds some space between the icon and the text */
}

.sticky-filter {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
    background-color: white; /* Optional: to avoid any transparency issues */
}

.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease; /* Smooth transition */
    pointer-events: none; /* Prevent interaction when hidden */
}

.scroll-to-top-btn.show {
    display: flex;
    opacity: 1; /* Fully visible */
    pointer-events: auto; /* Enable interaction */
}

/*.accordion-button:focus {*/
/*    box-shadow: none !important;*/
/*}*/